body {
    margin: 8px;
}
td {
    padding: 0px;
}
table {
    /*border-spacing: 0px;*/
    border-collapse: collapse; /*控制td之间的间距*/
}
.border {
    border: 1px solid #3A68AF;
}
.main-page {
    width: 1225px;
    height: auto;
    margin-left: auto;  /*垂直居中*/
    margin-right: auto;
    /*background-color: lightsteelblue;*/
    /*border: 1px solid blue;*/
}
.nav-table {
    width: 100%;
    text-align: center;
}
.nav {
    background-color: #3A68AF;
    color: white;
    font-size: 24px;
}
.content {
    margin: 20px 0;
    width: 780px;
}

